<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
       body{
        background-image: url("https://e0.pxfuel.com/wallpapers/859/565/desktop-wallpaper-white-background-awesome-46-plain-white-thumbnail.jpg");
        background-size: cover;
    }
    .new{
        display: flex;
        flex-direction: row;
    }

    </style>
 <body>
        <h1><center>About Us</center></h1>
    <div class="card">
        <p><h1>what we do</h1></p>
        <div class="card-body">
          <div class="content">
            <p><b>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process.
                 The modern hospital also often serves as a centre for investigation and for teaching.To better serve the wide-ranging needs of the community, the modern hospital has often developed outpatient
                  facilities, as well as emergency, psychiatric, and rehabilitation services. In addition, “bedless hospitals” provide strictly ambulatory (outpatient) care and day surgery. Patients arrive at the facility for short appointments. They may also stay for treatment in surgical or medical units for part of a day or for a full day, after which they are discharged for follow-up by a primary care health provider. <br></b>
               </p>
               <div class="new">
               <img src="https://img.freepik.com/premium-vector/hospital-building-healthcare-cartoon-background-vector-illustration-with-ambulance-car-doctor-patient-nurses-medical-clinic-exterior_2175-1511.jpg" height="250" width="250"><br>
          <img src="https://i.pinimg.com/originals/7c/07/54/7c075451aa96f9c01ee1b9118203df1d.jpg" height="250" width="250"><br>
          <img src="https://static.vecteezy.com/system/resources/previews/011/976/570/original/hospital-medical-billing-service-with-health-insurance-form-for-hospitalization-or-treatment-on-cartoon-background-illustration-vector.jpg" height="250" width="250"><br>
        </div>
        
        <div class="card">
            <p><h1>our services</h1></p>
            <div class="card-body">
              <div class="content">
                <p><b>City Hospital offers the very highest standards of clinical skills and nursing care across a wide range of specialties. We are offering a wide range of services in healthcare sector.
                     Our focus is on high quality service at an affordable price. Our promise is a quality-driven service, and our aim is to ensure affordable access to healthcare services to all categories of people.

                    City Hospital pays attention to the minute details and well being of our patients. We constantly strive for a quality culture, a culture that stresses continuous improvements and excellence in patient care and services. 
                    Our dedication to providing care at the highest level is reflected in our transparent approach to reporting our quality data and treatment. At City, taking care of the healthcare needs of patients goes beyond the medical services that we provide. <br></b>
                   </p>
                   <div class="new">
                   <img src="https://classroomclipart.com/images/gallery/Clipart/Medical/doctor-looking-at-x-ray-film-clipart.jpg" height="250" width="250"><br>
              <img src="https://img.freepik.com/free-vector/man-surgeon-operating-patient-nurse-assisting-doctor-surgery-emergency-urgent-planned-operation-medical-treatment-hospital-clinic-service-healthcare-concept_575670-1893.jpg" height="250" width="250"><br>
              <img src="https://static.vecteezy.com/system/resources/previews/018/929/858/original/blood-donation-2d-isolated-illustration-man-in-chair-on-blood-transfusion-donor-with-smiling-nurse-flat-characters-on-cartoon-background-charity-work-and-volunteering-colourful-scene-vector.jpg" height="250" width="250"><br>
              <img src="https://img.freepik.com/premium-vector/pharmacy-building-isolated-white_180264-152.jpg" height="250" width="250"><br>
              <img src="https://t4.ftcdn.net/jpg/01/22/48/89/360_F_122488937_dg4JELO2FlpSlWbaF6QLppvf3ILxYpK2.jpg" height="250" width="250"><br>
            </div>
</body>
</div>
        </div>
    </div>