
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
       body{
        background-image: url("https://i.pinimg.com/564x/42/8e/4b/428e4b954b33c8af63d7929ab5b67c74.jpg");
        background-size: cover;
    }
    .text{
        color: rgb(253, 18, 18);
    }
    </style>
    <center>
        <h1><center>Cardiologist</center></h1>
    <div class="card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/026/797/673/small/male-doctor-3d-profession-avatars-illustrations-png.png" height="200" width="200"><br>
        <p><h1>Dr.Karthik</h1></p>
        <div class="card-body">
            <h2>CARDIOLOGY| 10 YRS </h2>
            <h2><font class="text">Availability:Monday-friday (9.00 -4.00) </h2></font>
            </h2>
          <div class="content">
            <p><b>Education: MBBS, MD (Gen Med), DM (Cardio), DNB (Cardio).<br>
               Languages: English, Hindi, Telugu.<br>
               Location: Vijayawada<br>
               reg no: 78416
                <br></b>
               </p>
          </div>
          
        </center>
        </div>
    </div>
    