
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
       body{
        background-image: url("https://i.pinimg.com/originals/d9/60/f9/d960f96fe594f985b2fca1269da7aa8e.jpg");
        background-size: cover;
    }
    .text{
        color: rgb(96, 18, 253);
    }
    </style>
    <center>
        <h1><center>Dermotologist</center></h1>
    <div class="card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/026/797/656/small/female-doctor-3d-profession-avatars-illustrations-png.png " height="200" width="200"><br>
        <p><h1>Dr.Haritha</h1></p>
        <div class="card-body">
            <h2>|Dermotologist 7 YRS</h2>
            <h2><font class="text">Availability:wednesday,friday (12.00 -6.00) </h2></font>
            </h2>
          <div class="content">
            <p><b>Education: MBBS , MD(DERMATOLOGY, VENEREOLOGY & LEPROSY).<br>
               Languages: English, Hindi, Telugu.<br>
               Location: vijayawada.<br>
               reg no: HN 22667 <br></b>
               </p>
          </div>
          
        </center>
        </div>
    </div>