
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
       body{
        background-image: url("https://static.vecteezy.com/system/resources/previews/000/261/099/original/vector-abstract-colorful-watercolor-decorative-background.jpg");
        background-size: cover;
    }
    .text{
        color: rgb(253, 18, 116);
    }
    </style>
    <center>
        <h1><center>Gnecologist</center></h1>
    <div class="card">
        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/doctor-avatar-10107433-8179550.png?f=webp" height="200" width="200"><br>
        <p><h1>Dr.Hemu</h1></p>
        <div class="card-body">
            <h2>|Gnecologist 17 YRS</h2>
            <h2><font class="text">Availability:monday-saturday (11.00 -6.00) </h2></font>
            </h2>
          <div class="content">
            <p><b>Education: MBBS, MS (OBG).<br>
               Languages: English, Hindi, Telugu.<br>
               Location: Vijayawada.<br>
               reg no: HN 23867 <br></b>
               </p>
          </div>
          
        </center>
        </div>
    </div>