
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
       body{
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg");
        background-size: cover;
    }
    .text{
        color: rgb(40, 26, 238);
    }
    </style>
    <center>
        <h1><center>Neurologist</center></h1>
    <div class="card">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/027/312/338/small/portrait-of-a-female-doctor-with-stethoscope-isolated-essential-workers-avatar-icons-characters-for-social-media-user-profile-website-and-app-3d-render-illustration-png.png" height="200" width="200"><br>
        <p><h1>Dr.Swathi</h1></p>
        <div class="card-body">
            <h2>|Neurologist 12 YRS</h2>
            <h2><font class="text">Availability:monday,wednesday,saturday (10.00 -3.00) </h2></font>
            </h2>
          <div class="content">
            <p><b>Education: MBBS, DM(Neurology).<br>
               Languages: English, Hindi,kanada,Telugu.<br>
               Location: Vijayawada.<br>
               reg no: HN 28967 <br></b>
               </p>
          </div>
          
        </center>
        </div>
    </div>