<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP validation</title>
    <style>
      .a1{
        color:blueviolet;
        background-color: blanchedalmond;
      }
      .b1{
        background-color: azure;
      }.cc1{
        background-color: greenyellow;
      }
    </style>
</head>
<body>
    <form method="POST" action="{% url 'hsptlapp:otp' otp=otp username=username password=password email=email %}">
      {% csrf_token %}
        <center><h1 class="a1">Enter OTP</h1></center>
        <input class="b1"type="text" name="otp"><br>
        <button class="cc1">submit</button>
    </form>
</body>
</html>